.pilots {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-md);
    
    margin: var(--spacing-xl) auto 0 auto;
    width: var(--width-90p);
}

.pilots__item {
    background-color: var(--color-grey-hard);

    padding: var(--spacing-md);
    border-left: 2px solid var(--color-red-hard);
    border-radius: 0 var(--radius-xs) var(--radius-xs) 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.pilots__item h3 {
    text-align: center;
}

@media(min-width: 768px) {
    .pilots {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}