:host {
    color: var(--color-grey-light);
}

.section-text {
    width: var( --width-90p);
    margin: var(--spacing-xl) auto 0 auto;
    padding: var(--spacing-sm);
    border-width: 2px 0;
    border-style: solid;
    border-color: var(--color-grey-hard);
}

.background-image {
    position: fixed;
    top: 15vh;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.starship__message {
    text-align: center;
    color: var(--color-grey-light);
    font-size: var(--font-size-base);
    margin: var(--spacing-xxl) 0;
}