:host {
    color: var(--color-grey-light);
    margin: 0 auto;
}



.form {
    background-color: var(--color-grey-hard);
    padding: var(--spacing-lg);
    width: var(--width-90p);
    margin: 5vh auto 0 auto;
    border-radius: var(--spacing-xs);
    display: block;
}

.form__field {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: var(--spacing-lg);
    padding: 0;
    border: none;
}

.form__legend {
    font-size: var(--font-size-h1);
    margin-bottom: var(--spacing-xxl);
    font-weight: 700;
    border-bottom: 0.5rem solid var(--color-red-hard);
    padding-bottom: var(--spacing-sm);
}

.form__field:last-of-type {
    margin-bottom: var(--spacing-xxl);
}
.form__field label {
    font-size: var(--font-size-base);
    margin-bottom: var(--spacing-sm);
}
.form__field input {
    padding: var(--spacing-md);
    width: var(--width-100p);
    border: none;

    font-size: var(--font-size-base);
    background-color: var(--color-grey-light);
}
.form__field input:focus {
    outline: none;
}

.form__input-error{
    border-radius: var(--spacing-xs) var(--spacing-xs) 0 0;
    border: 5px solid var(--color-red-hard) !important;
}
.form__field-error {
    background-color: var(--color-red-hard);
    width: var(--width-100p);
    padding: var(--spacing-sm);
    border-radius: 0 0 var(--spacing-xs) var(--spacing-xs);
}
.btn-auth {
    color: var(--color-white);
    background-color: var(--color-red-hard);

    width: var(--width-100p);
    padding: var(--spacing-md);
    border: none;
    border-radius: var(--spacing-xs);
    
    font-size: var(--font-size-base);
    font-weight: 700;

    transition: 0.25s ease-in-out;
    cursor: pointer;
}
.btn-auth:hover {
    color: var(--color-grey-hard);
    background-color: var(--color-grey-light);
    
}
.btn-auth:disabled {
    background-color: var(--color-grey-light);
    color: var(--color-grey-hard);
    cursor: not-allowed;
}

@media(min-width: 768px) {
 .form {
    max-width: 60rem;
 }
}