:host {
    height: auto;
    background-color: var(--color-black);
    margin: 0;
    padding-top: var(--spacing-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Logo */

.header__logo {
    margin: 0;
}
.header__logo-img{
    width: 20rem;
    height: 12.5rem;
    object-fit: cover;
}

/* Navigator */

.header__nav {
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--color-grey-light);
    width: 100%;  
}
.header__nav-list {
    display: flex;
    justify-content: center;
}
.header__nav-detail {
    border: 1px solid var(--color-grey-light);
    padding: var(--spacing-sm);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.header__nav-detail:hover{
    background-color: var(--color-grey-light);
}
.header__nav-detail a {
    color: var(--color-white);
    transition: color 0.3s ease;
}
.active-link{
    background-color: var(--color-grey-light);
}
.active-link a {
    color: var(--color-black);
    font-weight: bold;
}