/* Variables */

:root {
    /* Colors */
    --color-black: #000;
    --color-grey-hard: #272727;
    --color-grey-light: #aaaaaa;
    --color-white: #fff;
    --color-red-hard: #550000;
    --color-red-hardest: #3e0000;

    /* Typography */
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-size-h4: 1.5rem;
    --font-size-base: 2rem;
    --font-family: monospace;
    
    /* Spacing fixed */
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 2.5rem;
    --spacing-xxl: 3rem;
    --spacing-section: 3.5rem;

    /* Spacing relative */
    --width-100p: 100%;
    --width-95p: 95%;
    --width-90p: 90%;
    --width-85p: 85%;
    --width-80p: 80%;
    --width-75p: 75%;

    /* Border radius */
    --radius-xs: 0.5rem;
    --radius-md: 1rem;
}

/* Generals */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    
    font-family: var(--font-family);
    background-color: var(--color-black);

    overflow-y: scroll;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

h1, h2, h3, h4, p, a {
    margin: 0;
}
h1 { font-size: var(--font-size-h1) }
h2 { font-size: var(--font-size-h2) }
h3 { font-size: var(--font-size-h3) }
h4 { font-size: var(--font-size-h4) }

p { font-size: var(--font-size-h4) }
a {
    font-size: var(--font-size-base);
    text-decoration: none;
    color: var(--color-grey-light);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
