:host {
    display: flex;
    justify-content: center;
    width: var(--width-100p);
    margin: 0 auto;
}

.starship__list {
    width: var(--width-75p);
}

.starship__detail {
    background-color: var(--color-grey-hard);
    margin-bottom: var(--spacing-sm);
    padding: var(--spacing-lg);
    border-radius: var(--radius-xs);
}

.starship__detail h2 {
    text-transform: uppercase;
    color: var(--color-grey-light);
}

.starship__detail h3 {
    color: var(--color-grey-light); 
}