:host {
    display: flex;
    justify-content: center;
    width: var(--width-100p);
    margin: 0 auto;
}

.starship__list {
    width: var(--width-90p);
    margin-top: var(--spacing-lg);
}

.starship__detail {
    background-color: var(--color-grey-hard);
    margin-bottom: var(--spacing-sm);
    padding: var(--spacing-lg);
    border-radius: 0 var(--radius-xs) var(--radius-xs) 0 ;
    border-left: 2px solid var(--color-red-hard);
}

.starship__detail h2 {
    text-transform: uppercase;
    color: var(--color-grey-light);
}

.starship__detail h3 {
    color: var(--color-grey-light); 
}

@media(min-width:768px){
    .starship__list {
        width: var(--width-75p);
    }
}