:host {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: var(--width-100p);
    margin: 0 auto;
}

.starship__list {
    width: var(--width-90p);
    margin: var(--spacing-lg) auto 0 auto
}

.starship__detail {
    display: block;
    background-color: var(--color-grey-hard);
    margin-bottom: var(--spacing-sm);
    padding: var(--spacing-lg);
    border-radius: 0 var(--radius-xs) var(--radius-xs) 0 ;
    border-left: 2px solid var(--color-red-hard);
    cursor: pointer;
}
.starship__detail h2 {
    text-transform: uppercase;
    color: var(--color-grey-light);
}
.starship__detail h3 {
    color: var(--color-grey-light); 
}

.endPoint {
    height: 1rem;
}

@media(min-width:768px){
    .starship__list {
        width: var(--width-75p);
    }
}